<!DOCTYPE HTML>
<html>
<head>
    <title>Home Chef</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="{{ url_for('static', filename='assets/css/main.css')}}" rel="stylesheet"/>
</head>
<body>

<!-- Header -->
<header id="header">
    <div class="logo"><a href="index.html">Homechef <span>by Nv</span></a></div>
    <a href="#menu"><span>Menu</span></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="index">Home</a></li>
        <li><a href="index">Login</a></li>
    </ul>
</nav>

<!-- Banner -->
<!--
    Note: To show a background image, set the "data-bg" attribute below
    to the full filename of your image. This is used in each section to set
    the background image.  data-bg="{{url_for('static', filename='APP/static/images/second-imagee.jpg')}}"
-->
<section id="banner" style="background-image: url('/static/images/first-image.png')">
    <div class="inner">
        <header>
            <h1>Home-Chef</h1>
        </header>
    </div>
    <a class="more" href="#one">Learn More</a>
</section>

<!-- One -->
<section class="wrapper post" id="one" style="background-image: url('/static/images/second-imagee.jpg')">
    <div class="inner">
        <article class="box">
            <header>
                <h2>Simple way to order your Food</h2>
                <p></p>
            </header>
            <div class="content">
                <p>Fast delivery</p>
            </div>
            <footer>
                <a class="button alt" href="index">Register</a>
                <a class="button alt" href="index">Login</a>
            </footer>
        </article>
    </div>
    <a class="more" href="#two">Register</a>
</section>


<!-- Footer -->
<footer id="footer">
    <div class="inner">

        <h2>Register</h2>

        <form action="/userinput" method="post">

            <div class="field half first">
                <label for="name">Name</label>
                <input id="name" name="name" placeholder="application Name" type="text">
            </div>
            <div class="field half first">
                <label for="name">Email id</label>
                <input id="description" name="description" placeholder="description" type="text">
            </div>



            <div class="field half first">
                <label for="name">Mobile number</label>
                <input id="role-name" name="role-name" placeholder="role-name" type="text">
            </div>
            <div class="field half first">
                <label for="name">Address</label>
                <input id="pod-name" name="pod-name" placeholder="pod-name" type="text">
            </div>


            <div class="field half first">
                <label for="name">Type</label>
                <input id="enable" name="reserve" type="radio" value="enable">
                <label for="enable">Homechef</label><br>
                <input checked id="disable" name="reserve" type="radio" value="disable">
                <label for="disable">Customer</label><br>

            <div>
                <br></br>
            </div>
            <ul class="actions">
                <li><input id="myBtn" class="button alt"  type="submit" value="Onboard Application" onclick="return alert('Your Bundle is Created ! redirecting to robin console')"></li>
            </ul>
        </form>

    </div>
</footer>

<!-- Scripts alert("Uploaded");-->


<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.scrolly.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/skel.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

</body>
</html>