<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homechef Dashboard</title>
</head>
<body>

<h2> HomeChef Dashboard</h2>

<form>
<label>Enter your dish:</label><br>
<input type="text" id="dish" name="dish"><br><br>
<label>Enter the cost:</label><br>
<input type="text" id="cost" name="cost"><br><br>
<label>Discount:</label><br>
<input type="number" id="dis" name="dis" ><br><br>
<label> Time up to which orders can be placed:</label><br>
<input type="time"><br><br>
<button type="button">add dish+</button>
</form>

</body>
</html>